<div class="admin-container">
  <mat-form-field>
    <input type="text" id="tweet-text" matInput placeholder="Tweet text" #tweet>
  </mat-form-field>
  <mat-form-field>
    <input type="number" id="admin-latitude" matInput placeholder="Latitude">{{lat}}
  </mat-form-field>
  <mat-form-field>
    <input type="number" id="admin-longitude" matInput placeholder="Longitude">{{lng}}
  </mat-form-field>
  <mat-form-field>
    <input type="number" id="admin-radius" matInput placeholder="Radius">{{radius}}
  </mat-form-field>
  <button mat-button (click)="postSettings(tweet.value)">Submit</button>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">
  <agm-circle
    (radiusChange)="getRadius($event)"
    (centerChange)="getCoords($event)"
    [latitude]="lat"
    [longitude]="lng"
    [radius]="radius"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true">
  </agm-circle>
</agm-map>
<div class="container">
  <div class="row" >
    <div class="col" *ngFor="let tweet of tweets">
      <ngx-tweet tweetId="{{tweet.tweetId}}"></ngx-tweet>
    </div>
  </div>
</div>


